@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-hover"> 
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Spor</td>
        <td>Açıklama Bekleniyor</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-danger">Yeni kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-dark">Kategori Listesi</button>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
