@using Entities.Concrete;
@model StockTypeViewModel
@{
    Layout = "_Layout";
}
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Stok Yönetimi /</span> Stok Türleri
    </h4>
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Stok Türü Listesi</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="articlesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Durum</th>
                        <th>SİLİNDİ Mİ?</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Başlık</th>
                        <th>Durum</th>
                        <th>SİLİNDİ Mİ?</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var stockType in Model.LstStock)
                    {
                        <tr name=@stockType.Id>
                            <th>@stockType.Name</th>
                            <th>@(stockType.IsActive ? "Aktif" : "Aktif Değil")</th>
                            <th>@(stockType.Deleted ? "Evet" : "Hayır")</th>
                            <td> as</td>
                        </tr>
                    }

                </tbody>

            </table>
            <form asp-action="Add" asp-controller="StockType" method="post" class="mt-4">
        
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Ekle</button>
                <div class="modal" id="Modal1">
                    <div class="modal-dialog"></div>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Stok Birimi Ekle</h2>
                        </div>
                     
                            <div class="modal-body">


                            <div class="form-group">
                                <label class="text-dark" for="Name">Stok Tipi</label>
                                <div class="col-4">
                                    <input class="form-control" name="Name" id="Name" type="text">
                                </div>
                            </div>
                            <br />
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" name="IsActive" id="IsActive" value="true">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Aktif mi?</label>
                            </div>
                            <br />
                            <button class="btn btn-danger" type="submit">Gönder</button>
                            <button class="btn btn-dark" type="button" data-dismiss="modal">İptal</button>
                                <br />
                                
                            </div>
                     
                    </div>
                </div>
            </form>



@section Scripts{
    <script src="~/js/stockTypeIndex.js" type="application/ecmascript"></script>

            }





             @*    <form class="form-group" method="post">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Ekle</button>
                    <div class="modal" id="Modal1">
                        <div class="modal-dialog"></div>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Stok Birimi Ekle</h2>
                            </div>

                            <div class="modal-body">
                                <label>Stok Türü</label>
                                <input type="submit" name="StockType" class="form-control" />
                                <button type="submit">Gönder</button>
                                <button class="btn btn-dark">İptal</button>
                                <br />

                            </div>

                        </div>
                    </div>
                </form>
 *@